html {
  /*overflow-x: hidden;*/
  scroll-behavior: smooth;
  
}


:root {
  --typingDuration: 3.4s;
  --typedCharacters: 15;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-family: 'Source Code Pro', monospace;
}


body {
    text-align: center;
}

section, footer {
  font-size: 2rem;
  
}


.nav-bar {
  padding-top: 3vh;

}


ul  {
  list-style-type: none;
}


nav ul a {
  text-decoration: none;
  font-size: 1.3rem;
  opacity: 0;
  animation: fade-in 3s ease forwards calc(var(--typingDuration) + 4.1s);

}

nav a {
  color:rgb(72, 72, 189);
  
}


nav a:hover {
  text-decoration: underline;
  color: whitesmoke;
}


.hero-section {
  font-family: 'Source Code Pro', monospace;
  height: 100vh;
  background-color: #2b9348;
  color: whitesmoke;
  font-size: 2.7rem;
  text-align: center;
}

.navbar {
  width: 100%;

  /* position: sticky; */
}

.nav-items {
  display: flex;
  justify-content: space-evenly;
  font-size: .5em;
  background-color: transparent;
}

#typed-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  /* margin-top: 74px;; */
  
}

h1 {
  position: relative;
  /* font-family: 'Source Code Pro', monospace; */
  width: max-content;
  /* border: solid black 1px; */
  font-weight: 200;
  margin-top: 14vh;
  margin-bottom: 2vh;
}

h1::before, h1::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
}

h1::before {
  background: #2b9348;
  animation: typing var(--typingDuration) steps(var(--typedCharacters)) 1.7s forwards;
}

h1::after {
  width: 0.04em;
  background:whitesmoke;
  animation: typing var(--typingDuration) steps(var(--typedCharacters)) 1.7s forwards,
  cursor 750ms infinite;
  
}

h2 {
  padding-top: 2vh;
  margin-bottom: 8vh;
  font-weight: 300;
  
}

#intro-text {
  opacity: 0;
  animation: fade-in 3s ease forwards calc(var(--typingDuration) + 2.7s);
  /* border: solid black 1px; */
  font-weight: 200;
  margin-bottom: 2vh;
}

#svg8 {
  opacity: 0;
  animation: fade-in 3s ease forwards calc(var(--typingDuration) + 3.3s);

}

.about-me-section {
  height: 140vh;
  background-color: #020218ef;
  color: whitesmoke;
  
  border-top: solid whitesmoke 2px;
  /* background-color: #721010 */
}

#kona-pic {
  border: solid black 1px;
  border-radius: 10% 10%;
}


.projects-section {
  height: 100vh;
  color: whitesmoke;
  background-color: #2b9348;
  border-top: solid whitesmoke;
  border-bottom: solid white 4px;
}

/* .projects-section::before{
  content: "";
  background-image: url("IMAGES/coding_screen_small.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.1;

} */

.skillset-section {
  height: 100vh;
  background-color: rgb(202, 202, 202);
  color: #2b9348;
  border-bottom: solid white 4px;
 
}

.skillset-section h2 {
  font-weight: 400;
}

.contact-me-section {
  height: 100vh;
  background-color: #2b9348;
  color: whitesmoke;
  
 
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  max-width: 340px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 0px 20px rgb(17, 8, 3);
  border-radius: 8px;
  margin-bottom: 20px;
  text-align: left;
}
/* .contact-form {
  width: 22vw;
} */

input[type=text], input[type=email], textarea {
  border: solid;
  border-style: inset;
  width: 100%;
  background-color: rgb(202, 202, 202);
  font-size: 60%;
  padding-left: 4px;
 
}



textarea {
  border: solid;
  border-style: inset;
  resize: none;
  height: 24vh;

}

textarea:focus-visible,
input[type=text]:focus-visible,
input[type=email]:focus-visible {
  outline: none;
}

label {
  font-size: .8rem;
  color: inherit;
}

.submit-btn-div {
  width: 100%;
  display: flex;
  justify-content: center;
}
#submit-button {
  padding: 4px 20px;
  border-radius: .4em;
  color: white;
  border: solid rgba(3, 80, 3, 0.658) 1px;
  background-color: #185328b4;
  font-weight: 300;
}



@keyframes typing {
  to { 
    left: 100%
  }
}

@keyframes cursor {
  to {
    background: transparent
  }
}

@keyframes fade-in {
  to {
    opacity: 1
  }
}