html {
  /*overflow-x: hidden;*/
  scroll-behavior: smooth;
  
}


:root {
  --typingDuration: 3.4s;
  --typedCharacters: 15;
  --deepOcean: #020218ef;
  --deepOcean: #090952ef;
  --marksAndSparksGreen: #2b9348;
  --silverFox: rgb(202, 202, 202);
  --gandalfTheGrey: rgb(163, 163, 167);
  --cardWidth: 260px;
  --green-gradient: linear-gradient(110deg,#13612a, #15632c,var(--marksAndSparksGreen),#268b43, #1d6430, #0c421b);
  --accordian : rgb(14, 95, 61);
  --silverGleam : linear-gradient(20deg, rgb(202, 202, 202),rgb(208, 208, 245),rgb(202, 202, 202),rgb(201, 201, 248),rgb(202, 202, 202),rgb(179, 179, 245),rgb(202, 202, 202),rgb(203, 203, 250));
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-family: 'Source Code Pro', monospace;
}


body {
    text-align: center;
}

section, footer {
  font-size: 2rem;
  
}


.nav-bar {
  padding-top: 3vh;

}


ul  {
  list-style-type: none;
}


nav ul a {
  text-decoration: none;
  font-size: 1.1rem;
  opacity: 0;
  animation: fade-in 3s ease forwards calc(var(--typingDuration) + 4.1s);

}

nav a {
  color:rgb(47, 47, 238);
  
  
}


nav a:hover {
  /* text-decoration: underline; */
  color: rgb(216, 62, 2);
  cursor: pointer;
}


.hero-section {
  font-family: 'Source Code Pro', monospace;
  min-height: 100vh;
  background-image: linear-gradient(
    110deg,
    
    #0e4d1f,
    #14742e,
    #268b43,
    var(--marksAndSparksGreen),
    var(--marksAndSparksGreen),
    
    var(--marksAndSparksGreen),
    #268b43, 
    #1d6430, 
    #0c421b);
  color: whitesmoke;
  /* font-size: 2.7rem; */
  text-align: center;
}

.navbar {
  width: 100%;

  /* position: sticky; */
}

.nav-items {
  display: flex;
  justify-content: space-evenly;
  font-size: .5em;
  background-color: transparent;
}

#typed-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  /* margin-top: 74px;; */
  
}

h1 {
  position: relative;
  /* font-family: 'Source Code Pro', monospace; */
  width: max-content;
  /* border: solid black 1px; */
  font-weight: 200;
  margin-top: 14vh;
  margin-bottom: 2vh;
}

h1::before, h1::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
}

h1::before {
 background: var(--marksAndSparksGreen);
  animation: typing var(--typingDuration) steps(var(--typedCharacters)) 1.7s forwards;
}

h1::after {
  width: 0.04em;
  background:whitesmoke;
  animation: typing var(--typingDuration) steps(var(--typedCharacters)) 1.7s forwards,
  cursor 750ms infinite;
  
}

h2 {
  padding-top: 2.2vh;
  margin-bottom: 8vh;
  font-weight: 300;
  text-shadow:  4px 4px 8px var(--deepOcean);
  
}

#intro-text {
  opacity: 0;
  animation: fade-in 3s ease forwards calc(var(--typingDuration) + 2.7s);
  /* border: solid black 1px; */
  font-weight: 200;
  margin-bottom: 2vh;
}

#svg8 {
  opacity: 0;
  animation: fade-in 3s ease forwards calc(var(--typingDuration) + 3.3s);
  width: 240px;
  height: 240px;

}
/* -------------------------------------------------------------------------------------------------------------------- */
.about-me-section {
  min-height: 100vh;
  background: var(--silverFox);
  /* color: whitesmoke; */

  border-top: solid whitesmoke 6px;
  /* background-color: #721010 */
}

#about-me-heading {
  margin-bottom: 1.9vh;
}

.about-me-container {
  display:flex;
  justify-content: center;
  align-items: center;

}
.me-text-pic-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width:78vw;
  /* border: solid var(--deepOcean) 1px; */
  border-radius: 8px;
  min-height: 80vh;
  padding: 40px 6px;
  /* background-color: rgb(227, 227, 233);
  background-color: #FFEECF; */
  transform: rotate(-1deg);
  /* box-shadow: 0px 0px 20px var(--deepOcean); */

}

.me-text-div {
  height: 400px;
  width: 50vw;
  font-size: 1.1rem;
  /* border: solid var(--deepOcean) 1px; */
  border-radius: 8px;
  /* margin-left: auto;
  margin-right: auto; */
  /* margin-bottom: 20px; */
  padding: 0px 80px;
  background-color: rgb(227, 227, 233);
  box-shadow: 0px 0px 20px var(--deepOcean);
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotate(6deg);
}

.inner-text-div {
  height: 20%;
  
}

.me-text-div p{
  transform: rotate(-5deg);

}
.me-pics {
  border: solid black 1px;
  border-radius: 7px;
  box-shadow: 0px 0px 18px 4px var(--deepOcean);
  margin: auto;
  
}


#me-pic {
  transform: rotate(-4deg) translatey(-140px);
  height: 200px;
  margin: 0px 12px 0px 0px;
  }
#kona-pic {
  transform: rotate(-5deg) translatey(140px);
  height: 140px;
  margin: 0;
}






/* --------------------------------------------------------------------------------------------------------------------- */


.projects-section {
  /* height: 100vh; */
color: whitesmoke;
border: solid whitesmoke 4px;
background-size: 200%;
background-image: linear-gradient(110deg,#13612a, #15632c,#22522f,#268b43, #1d6430, #0c421b);
background-color: var(--silverFox);
animation: bg-animation 30s infinite;

}

@keyframes bg-animation {
0% {background-position: left}
50% {background-position: right}
100% {background-position: left}
}
/* .projects-section::before{
  content: "";
  background-image: url("IMAGES/coding_screen_small.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.1;

} */

.card-header {
  padding: 20px;
  border-bottom: solid black 2px;
}

.collapsible-container img {
  margin-top: 12px;
}

.projects-section p {
  background-image:#ffe4ac;
  color: var(--gandalfTheGrey);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.all-collapsibles-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 8%;
}

.collapsible-container {
  width: var(--cardWidth);
  box-shadow: 3px 3px 30px 4px black;
  border: solid black 2px;

}

.project-image-div {
  width: 100%;
  background: black;
  display:flex;
  justify-content: center;
  padding-bottom: 20px;
}

.collapsible-container img {
  width: 80%;
  display:block;
 
}
.collapsible {
  color: #000000;
  background-color:  var(--accordian);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;

}
.collapsible-container button {
  border-top: solid black 1px;
  border-radius: 5px;;
}
.active, .collapsible:hover {
  background: linear-gradient(110deg,#13612a, #15632c,#22522f,#268b43, #1d6430, #0c421b)
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #ffe4ac;
  font-size: 1rem;
}

.project-links-container {
  height:60px;
  background: linear-gradient(110deg,#13612a, #15632c,var(--marksAndSparksGreen),#268b43, #1d6430, #0c421b);
  display: flex;
}

.project-links-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 140px;
}

.project-links-wrap p {
  /* background-color: red; */
  font-size: 10px;
  /* border: solid black 2px;
  border-radius: 3px; */
  background-color: transparent;
  margin-bottom: 9px;

}

.project-links-wrap a {
  display: flex;
  justify-content: center;
}

.project-page-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.git-hub-project-icon {
  cursor: pointer;
}
.project-page-link p {
  font-size: 16px;
  background-color: transparent;

}

/*--------------------------------------------------------------------------------------------------------- */

.skillset-section {
  /* height: 100vh; */
  background-color: var(--silverFox);
  color:var(--marksAndSparksGreen);
  border-bottom: solid white 4px;
 
}

.skillset-section h5{
  color: var(--deepOcean);
  font-weight: 400;
  /* font-size: 1.9rem; */
  margin: 20px;
}

.skillset-section h2 {
  font-weight: 300;
}

.core-skills-icons-wrap {
  /* display: flex; */
 /* justify-content: end; */
  /* width: 100%; */
  margin-bottom: 80px;

}

.bike {
  position:absolute;
}

#bike1 {
  left: 14%;
}

#bike2 {
  right:30%
}

.hid-bike {
  opacity: 0;
  transition: 2s
}

.reveal-bike {
  opacity: 1;
 
}

.cruise-right  {
  
  /* filter: blur(0); */
  transform: translateX(60vw);
  transition: 3s;
  /* transition-delay: 1s; */
}

.cruise-left  {
  
  /* filter: blur(0); */
  transform: translateX(-30vw);
  transition: 2s;
  /* transition-delay: 1s; */
}
.bike-gone {
  display: none;
}






.secondary-skills-icons-wrap {

}

.skills-container {
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;

}



.skills-icons-div-top {
  /* display: flex; */
  justify-content: center;
  margin-bottom: 2rem;
  /* width: 80%; */
}

.skills-icons-div-bottom {
  /* display: flex; */
  /* justify-content: center; */
  /* margin-bottom: 400px; */
  /* width: 80%; */
}


.technology {
  height: 80px;
  padding: 0px 40px;
}

.hidden {
  opacity: 0;
  filter: blur(3px);
  transition: 2s;

}

.skills1:nth-child(1){
  transition-delay: 1.4s;
}

.skills1:nth-child(2){
  transition-delay: 1.8s;
}

.skills1:nth-child(3){
  transition-delay: 2.2s;
}

.skills1:nth-child(4){
  transition-delay: 2.8s;
}

.skills2:nth-child(2){
  transition-delay: 3.5s;
}

.skills2:nth-child(1){
  transition-delay: 4s;
}

.skillset-section h5:nth-child(4) {
  transition-delay: 2.4s;
}
.reveal {
  opacity: 1;
  filter: blur(0);
}

.education-table {
  height: 200px;
  width: 60vw;
  border: solid black 1px;
  margin: 40px auto;
}


/* -------------------------------------------------------------------------------------------------------------------- */

.contact-me-section {
  min-height: 100vh;
  background-image: linear-gradient(110deg,#13612a, #15632c,var(--marksAndSparksGreen),#268b43, #1d6430, #0c421b);
  color: whitesmoke;
  background-color: var(--marksAndSparksGreen);
  
 
}


.form-container {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  width: 60%;
  max-width: 340px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 0px 18px 4px black;
  border:  linear-gradient(110deg, #0a421b, #3bc765,);
  border-style: outset;
  border-width: 4px;
  border-radius: 8px;
  margin-bottom: 20px;
  text-align: left;
  background: linear-gradient(110deg, 
  #020f06,#062e12, #07160b,#092e13,  #06200e, #0c3117, #05250f, #10461e,#07200f, #093d1a,#04200d, rgb(9, 58, 29), rgb(4, 43, 25), rgb(3, 27, 12),  rgb(7, 58, 27),  rgb(4, 31, 8), rgb(8, 29, 20), rgb(10, 34, 20),  rgb(5, 17, 9),
  #020f06,#062e12, #07160b,#092c13,  #06200e, #0c3117, #05250f, #10461e,#07200f, #093d1a,#04200d, rgb(9, 58, 29), rgb(4, 43, 25), rgb(3, 27, 12),  rgb(7, 58, 27),  rgb(4, 31, 8), rgb(8, 29, 20), rgb(10, 34, 20),  rgb(5, 17, 9)) ;

  animation: form-animation   120s infinite;
  background-size: 520%;
  
}

/* .contact-form {
  width: 22vw;
} */

input[type=text], input[type=email], textarea {
  border: solid;
  border-style: inset;
  width: 100%;
  background-color:var(--gandalfTheGrey);
  font-size: 60%;
  padding-left: 4px;
 
}



textarea {
  /* border: solid; */
  border-style: inset;
  resize: none;
  height: 24vh;

} 

textarea:focus-visible,
input[type=text]:focus-visible,
input[type=email]:focus-visible {
  outline: none;
  background-color:  rgb(202, 202, 202);
}

label {
  font-size: .8rem;
  color: inherit;
}

.submit-btn-div {
  width: 100%;
  display: flex;
  justify-content: center;
}
#submit-button {
  padding: 4px 20px;
  border-radius: .4em;
  color: white;
  border: solid rgba(3, 80, 3, 0.658) 1px;
  background: linear-gradient(110deg,#13612a, #15632c,var(--marksAndSparksGreen),#268b43, #1d6430, #0c421b);
  font-weight: 300;
  cursor: pointer;
}

#submit-button:hover {
  font-weight: 500;
  color: #000000;
  background: #7ee2b0;
  transition:  .3s;

}

.connect-icons-div {
 display:flex;
 flex-direction: column;

}

.icon-div {
  padding: 8px;
}
#git-hub-contact-icon {
  width: 50px;
  transform: translate(400px, -180px);
}
#git-hub-contact-icon:hover {
  cursor :pointer;
}

#linkedIn-icon {
  width: 50px;
  transform: translate(400px, -180px);
}
#linkedIn-icon:hover {
  cursor :pointer;
}

@keyframes typing {
  to { 
    left: 100%
  }
}

@keyframes cursor {
  to {
    background: transparent
  }
}

@keyframes fade-in {
  to {
    opacity: 1
  }
}






@keyframes form-animation {
0% {background-position: left bottom}
50% {background-position: right}
100% {background-position: left}
} 

root{
--newgrad:linear-gradient(45deg,#100b50, #420a34);
}